# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [42]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [15]:
# 1
df.shape

(4008, 11)

In [16]:
# 2.
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [17]:
# 2.The columns Customer Lifetime Value and Number of Open Complaints should be type float:

In [18]:
df["Customer Lifetime Value"] = (df["Customer Lifetime Value"].str.replace("%", "").astype(float))

In [19]:
df["Number of Open Complaints"] = (df["Number of Open Complaints"].str.split("/").str[0].astype(float))

In [20]:
#3.
df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       1
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [21]:
df["ST"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [22]:
df["GENDER"].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [23]:
df["Vehicle Class"].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [24]:
df["Policy Type"].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [25]:
df["Education"].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [26]:
#4.
df[["Customer Lifetime Value","Income","Monthly Premium Auto",
    "Total Claim Amount","Number of Open Complaints"]].describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount,Number of Open Complaints
count,1.068000e+03,1071.000000,1071.000000,1071.000000,1071.0
mean,7.936903e+05,39295.701214,193.234360,404.986909,1.0
std,6.434784e+05,30469.427060,1601.190369,293.027260,0.0
min,2.004351e+05,0.000000,61.000000,0.382107,1.0
25%,4.034080e+05,14072.000000,68.000000,202.157702,1.0
50%,5.881742e+05,36234.000000,83.000000,354.729129,1.0
75%,8.962872e+05,64631.000000,109.500000,532.800000,1.0
max,5.816655e+06,99960.000000,35354.000000,2893.239678,1.0

The summary statistics provide insight into the central tendency and distribution of the numerical variables.

The mean and median values differ for several variables, such as Income and Total Claim Amount, indicating skewed distributions. This suggests the presence of outliers or extreme values influencing the average.

The standard deviation is relatively high for variables like Customer Lifetime Value, Income, and Total Claim Amount, which reflects significant variability among customers. This indicates heterogeneous customer profiles in terms of financial value and insurance behavior.

Quartile values show that a large proportion of customers fall within lower or middle ranges, while a smaller group of customers exhibits much higher values, especially for income and claim amounts.

Overall, these statistics suggest that the dataset contains diverse customer segments, and that median values may be more representative than mean values for some variables due to skewness.

In [28]:
df.describe(include="object")

       Customer      ST GENDER Education    Policy Type  Vehicle Class
count      1071    1071    954      1071           1071           1071
unique     1071       8      5         6              3              6
top     MY31220  Oregon      F  Bachelor  Personal Auto  Four-Door Car
freq          1     320    457       324            780            576

In [27]:
#5.
df["ST"].value_counts()

Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

In [29]:
df["GENDER"].value_counts()

GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [30]:
df["Education"].value_counts()

Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

In [31]:
df["Policy Type"].value_counts()

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [32]:
df["Vehicle Class"].value_counts()

Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

Insights:

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [33]:
location_counts = df["ST"].value_counts()
location_counts.sort_values().head(5)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [34]:
policy_counts = df["Policy Type"].value_counts()
policy_counts

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [35]:
policy_counts.idxmax()

'Personal Auto'

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [36]:
personal_auto = df.loc[df["Policy Type"] == "Personal Auto"]
corporate_auto = df.loc[df["Policy Type"] == "Corporate Auto"]

personal_income_avg = personal_auto["Income"].mean()
corporate_income_avg = corporate_auto["Income"].mean()

print("Average income (Personal Auto):", personal_income_avg)
print("Average income (Corporate Auto):", corporate_income_avg)

Average income (Personal Auto): 38180.69871794872
Average income (Corporate Auto): 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [37]:
df["Total Claim Amount"].describe()

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [38]:
claim_threshold = df["Total Claim Amount"].quantile(0.75)
claim_threshold

np.float64(532.8)

In [39]:
high_claim_customers = df[df["Total Claim Amount"] > claim_threshold]
high_claim_customers.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1.0,Personal Auto,Two-Door Car,566.472247
17,OE15005,Cali,NaN,College,394524.16,28855.0,101.0,1.0,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,245019.10,0.0,73.0,1.0,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,394637.21,0.0,111.0,1.0,Personal Auto,Four-Door Car,799.200000

In [40]:
high_claim_customers["Total Claim Amount"].describe()

count     264.000000
mean      782.228263
std       292.751640
min       537.600000
25%       606.521741
50%       679.597985
75%       851.400000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [41]:
high_claim_customers.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount
count,2.640000e+02,264.000000,264.000000,264.0,264.000000
mean,9.086868e+05,23677.344697,165.193182,1.0,782.228263
std,6.387678e+05,27013.483721,623.930992,0.0,292.751640
min,2.287597e+05,0.000000,63.000000,1.0,537.600000
25%,4.723958e+05,0.000000,99.000000,1.0,606.521741
50%,7.781768e+05,18807.000000,114.000000,1.0,679.597985
75%,1.054430e+06,42423.750000,133.250000,1.0,851.400000
max,3.844586e+06,99316.000000,10202.000000,1.0,2893.239678